@font-face{
	font-family: 'CooperHewitt-Bold';
	src: url(../fonts/CooperHewitt-Bold.ttf);
}

@font-face {
	font-family: 'CooperHewitt-Medium';
	src: url(../fonts/CooperHewitt-Medium.ttf);
}

body {
	background-size: auto;
	background-repeat: no-repeat;
	font-family: 'CooperHewitt-Medium';
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.transparent-white, .page-footer{
	background-color:  rgba(255, 255, 255, 0.3) !important;

}

.hot-hover:hover {
	background-color: rgba(255, 100, 0, 0.3) !important;
}

.cold-hover:hover {
	background-color: rgba(0, 220, 255, 0.3) !important;
}


.heading{
	font-size: 100px;
	text-shadow: 5px 5px rgba(255, 255, 255, 0.3);
	margin-top: 20px;
	margin-bottom: 20px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #455a64;
	-webkit-box-shadow: 0 1px 0 0 #455a64;
	box-shadow: 0 1px 0 0 #455a64;
}

.weatherResponse{
	font-family: 'CooperHewitt-Bold';
	font-size: 50px;
}

.country{
	font-family: 'CooperHewitt-Bold';
	font-size: 20px;
}

.weatherMain{
	font-size: 20px;
}

.fa-envelope, .fa-linkedin-in, .fa-facebook-f, .fa-instagram{
	font-size: 30px;
	color: #e0e0e0;
	margin-right: 20px;
}

.links{
	color: #e0e0e0;
}

.fa-envelope:hover, .fa-linkedin-in:hover, .fa-facebook-f:hover, .fa-instagram:hover, .links:hover{
	color: #263238;
}

.page-footer{
	position: relative;
	margin-top: 10px;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}
